/*The imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 750;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
}

/*Reusable Utility Classes*/
.regular-txt{
    font-weight: 400;
}

.grey-txt{
    color: #C7C7CC;
}

.bold-txt{
    text-transform: uppercase;
}

.main-container{
    width: 300px;
    height: 530px;
    z-index: 1;
    background: white;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 5px rgb(227, 227, 227);
    padding: 20px;
}

/* Dates Container */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .material-symbols-outlined{
    font-size: 17px;
}

/*Input Container*/
.input-container{
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
}

.city-input{
    width: 100%;
    height: 34px;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(237, 237, 237);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}

.city-input::placeholder {
    color: black;
}

.search-btn{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

/*Location and time container*/
.location-summary-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.condition-txt{
    font-weight: 550;
}

.weather-summary-container{
    display: flex;
    justify-content: center;
}

/* Apply initial animation when the image appears */
.weather-summary-img {
    width: 150px;
    height: 150px;
    animation: popAndShake 2s ease forwards;  /* Animation to pop up and shake */
    transition: all 0.3s ease; /* Add transition for smooth hover effects */
}

/* Initial pop-up and shake animation */
@keyframes popAndShake {
    0% {
        transform: scale(0.8) rotate(5deg); /* Start small and tilted */
        opacity: 0;
    }
    50% {
        transform: scale(1.1) rotate(-5deg); /* Slightly increase size and shake to left */
    }
    75% {
        transform: scale(1.1) rotate(5deg); /* Shake to the right */
    }
    100% {
        transform: scale(1) rotate(0deg); /* Return to normal without any rotation */
        opacity: 1;
    }
}

.weather-conditions-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 2px;
    margin-bottom: 25px;
}

.condition-item{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.condition-item span{
    font-size: 25px;
}

.condition-info{
    display: flex;
    align-items: center;
    gap: 2px;
}
  

/* Forecast container */
.forecast-items-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; /* for firefox */
    -ms-overflow-style: none; /* for Edge */
    margin-bottom: 20px;
}

/* Hide scrollbar - Chrome, Safari */
.forecast-items-container::-webkit-scrollbar {
    display: none;
}

.forecast-item{
    min-width: 50px;
    background: rgb(255, 255 , 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.forecast-item:first-child{
    min-width: 60px;
}

.forecast-item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.forecast-item-info .material-symbols-outlined, .temp-line {
    color: #C7C7CC;
}

.temp-line{
    font-size: 40px; 
    width: 100%;
    text-align: center;
}


/* Message section */
.section-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.section-message h4{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 40px;
    animation: popAndShake 2s ease forwards;  
    transition: all 0.3s ease; 
}

.section-message h3{
    animation: popAndShake 2s ease forwards;  
    transition: all 0.3s ease;
}

.section-message img{
    width: fit-content;
    height: 200px;
    animation: popAndShake 2s ease forwards;  
    transition: all 0.3s ease; /
}

.footer-note{
    text-align: center;
}